* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 20px;
}

.main-content {
	margin: 0 auto;
	max-width: 1000px;
}

span {
	font-weight: bolder;
}

p {
	margin-top: 0;
}

/*Intro*/
.intro {
	margin: 0 auto;
	border-radius: 4px;
	position: relative;
	max-width: 800px;
}

.intro img {
	border-radius: 7px;
	vertical-align: middle;
}

.content {
	padding: 20px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.content h1 {
	text-align: center;
}

.content p {
	line-height: 1.5;
}

/*Ingredients*/
.ingredients {
	background-color: #f9eac7;
	padding: 15px 30px;
	border-radius: 4px;
	box-shadow: 0 10px 16px 0 rgba(141, 20, 0, 0.4), 0 12px 40px 0 rgba(141, 20, 0, 0.4);
}

.ingredients small {
	font-style: italic;
	font-size: 15px;
}

/*Instructions*/
.instructions {
	background-color: #f5dba3;
	padding: 15px 30px;
	border-radius: 4px;
	box-shadow: 0 14px 20px 0 rgba(31, 78, 5, 0.4), 0 16px 44px 0 rgba(31, 78, 5, 0.4);
}

/*Serve*/
.serve {
	background-color: #f9eac7;
	padding: 15px 30px;
	border-radius: 4px;
	box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.4);
}

/*Improve*/
.changes {
	background-color: #f5dba3;
	padding: 15px 30px;
	border-radius: 4px;
	box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.4);
}